<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.1" package="com.is124hay.mobile" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="33" />
	<application android:label="Mobile.Android" android:theme="@style/MainTheme" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>